.container{
    margin: 50px 0;
     
}

.card{
    margin:0 2% !important; 
    
}

.infected{
    border-bottom: 10px solid rgba(38, 38, 192, 0.836);
}

.recovered{
    border-bottom: 10px solid rgba(97, 102, 22, 0.575);
}

.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.815);
}

.display{
    font-family: 'Bree Serif', serif ;
    color:blue;
}

.fontText{
    font-weight: 800;
}

@media (max-width:770px ){
    .card{
        margin: 2% 0 !important
    }
}